$medSec: #229cf9;
$darkSec: #0276c9;
$lightMain: #ff666b;
$medMain: #ed3462;
$darkMain: #d6264f;

$borderRadLarge: 50px;
$borderRadSmall: 30px;

button::-moz-focus-inner {
    border: 0;
}
input:focus {
    outline: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    margin: 0;
}
body, body * {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    align-self: center;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 5px;
    text-shadow: 0 0 2px $darkMain;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: $lightMain;
    padding: 80px 20px;
    margin-bottom: 10px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .search-bar, .btn {
        align-self: center;
        padding: 10px 30px;
        max-width: 80%;
    }
    .search-bar {
        position: relative;
        border: 4px solid $lightMain;
        border-radius: $borderRadSmall;
        margin: 10px;
        font-size: 30px;
        box-shadow: inset 0 4px 0 $medMain;
        text-shadow: 0 2px 2px rgba(0,0,0,0.08);
        &:focus {
            top: 4px;
            border-color: $darkMain;
            border-top: none;
            box-shadow: inset 0 4px 0 $darkMain;
            margin-bottom: 14px;
        }
        &::placeholder {
            color: rgba(0,0,0,0.2);
        }
    }

}

.btn {
    background-color: white;
    margin: 5px;
    font: {
        size: 24px;
        weight: bold;
    }
    text: {
        transform: uppercase;
        decoration: none;
        align: center;
    }
    letter-spacing: 2px;
    border-radius: $borderRadSmall;
    border: none;
    color: $medSec;
    cursor: pointer;
    box-shadow: 0 6px 0 $darkMain;
    position: relative;
    outline: none;
    transition: color 100ms;

    &:focus, &:hover {
        color: $darkSec;
    }

    &:active {
        top: 6px;
        box-shadow: none;
    }
}


.results-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    .result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        width: 28vw;
        text-decoration: none;
        color: black;
        outline: none;
        background-color: $lightMain;
        min-height: 200px;
        padding: 15px;
        margin: 10px;
        border-radius: $borderRadLarge;
        box-shadow: 0 4px 0 $medMain;
        transition: 100ms;

    &:hover, &:focus {
        background-color: $medMain;
        box-shadow: 0 4px 0 $darkMain;
    }
        h1, p {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            margin: 10px;
        }

        h1 {
            text-align: center;
            font-size: 40px;
            margin: 0;
            font-weight: bold;
            flex: 1 1 50%;
            padding: 30px;
            max-height: 20vh;
            text-overflow: ellipsis;
        }

        p {
            flex: 1 1 50%;
            padding: 10px 30px;
            text-align: center;
            font-size: 20px;
            background-color: white;
            color: $darkSec;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: $borderRadLarge;
        }
        img {
            align-self: center;
            flex: 0 2 0%;
            max-height: 25vh;
            max-width: 95%;
            border-radius: $borderRadSmall;
            margin: 10px;
            box-shadow: 0 0 2px $medMain;
        }
    }
}

* .expand {
    max-height: 4000px;
}
@media screen and (max-width: 1080px) {
    .search {
        h1 {
            font-size: 50px;
        }
    }
    .results-list .result {
        width: 40vw;
    }
}
@media screen and (max-width: 720px) {
    .results-list .result {
        width: 80vw;
    }
}