button::-moz-focus-inner {
  border: 0; }

input:focus {
  outline: none; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  margin: 0; }

body, body * {
  font-family: 'Open Sans', sans-serif; }

h1 {
  align-self: center;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 5px;
  text-shadow: 0 0 2px #d6264f; }

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #ff666b;
  padding: 80px 20px;
  margin-bottom: 20px; }
  .search div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .search .search-bar {
    align-self: center;
    padding: 10px 30px;
    max-width: 80%; }
  .search .search-bar {
    position: relative;
    border: 4px solid #ff666b;
    border-radius: 30px;
    margin: 10px;
    font-size: 30px;
    box-shadow: inset 0 4px 0 #ed3462;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.08); }
    .search .search-bar:focus {
      top: 4px;
      border-color: #d6264f;
      border-top: none;
      box-shadow: inset 0 4px 0 #d6264f;
      margin-bottom: 14px; }
    .search .search-bar::placeholder {
      color: rgba(0, 0, 0, 0.2); }

.btn {
  background-color: white;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 30px;
  border: none;
  color: #229cf9;
  cursor: pointer;
  box-shadow: 0 6px 0 #d6264f;
  position: relative;
  outline: none;
  transition: color 100ms;
  padding: 10px 30px;
  align-self: center; }
  .btn:focus, .btn:hover {
    color: #0276c9; }
  .btn:active {
    top: 6px;
    box-shadow: none; }

.results-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;
  max-height: 0;
  max-width: 100vw;
  transition: max-height 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .results-list .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    order: 1;
    text-decoration: none;
    color: black;
    outline: none;
    background-color: #ff666b;
    max-height: 16.66667%;
    padding: 15px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 0 #ed3462;
    transition: 100ms; }
    .results-list .result:nth-of-type(1n) {
      order: 1; }
    .results-list .result:nth-of-type(2n) {
      order: 2; }
    .results-list .result:nth-of-type(3n) {
      order: 3; }
    .results-list .result:hover, .results-list .result:focus {
      background-color: #ed3462;
      box-shadow: 0 4px 0 #d6264f; }
    .results-list .result h1, .results-list .result p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
    .results-list .result h1 {
      text-align: center;
      font-size: 40px;
      margin: 0;
      font-weight: bold;
      padding: 30px;
      max-height: 20vh;
      text-overflow: ellipsis; }
    .results-list .result p {
      height: 200px;
      padding: 10px 30px;
      text-align: center;
      font-size: 20px;
      background-color: white;
      color: #0276c9;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 30px; }
    .results-list .result img {
      align-self: center;
      max-height: 300px;
      max-width: 95%;
      border-radius: 30px;
      margin: 10px; }

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #ff666b;
  height: 100px; }

* .hidden {
  display: none; }

* .expand {
  max-height: 240vw; }

@media screen and (max-width: 1080px) {
  .search h1 {
    font-size: 50px; }
  .results-list .result {
    width: 40vw; }
  * .expand {
    max-height: 600vw; } }

@media screen and (max-width: 720px) {
  .results-list .result {
    width: 80vw; } }
