button::-moz-focus-inner {
  border: 0; }

input:focus {
  outline: none; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  margin: 0; }

body, body * {
  font-family: 'Open Sans', sans-serif; }

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #ff666b;
  padding: 80px 20px;
  margin-bottom: 10px; }
  .search div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .search input, .search .btn {
    align-self: center;
    padding: 10px 30px;
    max-width: 80%; }
  .search h1 {
    align-self: center;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 5px;
    text-shadow: 0 0 2px #d6264f; }
  .search input {
    position: relative;
    border: 4px solid #ff666b;
    border-radius: 30px;
    margin: 10px;
    font-size: 30px;
    box-shadow: inset 0 4px 0 #ed3462;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.08); }
    .search input:focus {
      top: 4px;
      border-color: #d6264f;
      border-top: none;
      box-shadow: inset 0 4px 0 #d6264f;
      margin-bottom: 14px; }
    .search input::placeholder {
      color: rgba(0, 0, 0, 0.2); }

.btn {
  background-color: white;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 30px;
  border: none;
  color: #229cf9;
  cursor: pointer;
  box-shadow: 0 6px 0 #d6264f;
  position: relative;
  outline: none;
  transition: color 100ms; }
  .btn:focus, .btn:hover {
    color: #0276c9; }
  .btn:active {
    top: 6px;
    box-shadow: none; }

.results-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .results-list .result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
    outline: none;
    background-color: #ff666b;
    min-height: 200px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 0 #ed3462;
    transition: 100ms; }
    .results-list .result:hover, .results-list .result:focus {
      background-color: #ed3462;
      box-shadow: 0 4px 0 #d6264f; }
    .results-list .result h1, .results-list .result p, .results-list .result .image {
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      margin: 10px;
      background-color: white; }
    .results-list .result h1 {
      text-align: center;
      flex: 1 1 30%;
      padding: 10px 40px; }
    .results-list .result p {
      flex: 0 1 50%;
      padding: 30px 60px;
      font-size: 20px; }
    .results-list .result img {
      max-height: 180px; }
    .results-list .result .image {
      flex: 0 1 20%;
      border-radius: 30px;
      overflow: hidden; }

* .expand {
  max-height: 3000px; }

@media screen and (max-width: 720px) {
  .search h1 {
    font-size: 50px; }
  .results-list .result {
    flex-direction: column; }
    .results-list .result h1 {
      align-self: center; }
    .results-list .result p {
      text-align: center; } }
