button::-moz-focus-inner {
  border: 0; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  min-height: 90vh;
  padding: 50px; }

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fcd123;
  border: 10px solid #ffae00;
  border-radius: 50px;
  padding: 20px; }
  .search input, .search button {
    align-self: center;
    border: none;
    padding: 10px 30px; }
  .search input {
    border: 4px solid #ffae00;
    border-radius: 50px;
    margin: 10px;
    font-size: 30px; }
  .search button {
    background-color: white;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: #229cf9;
    cursor: pointer;
    box-shadow: 0 6px 0 #e88300;
    position: relative; }
    .search button:hover, .search button:focus {
      top: 3px;
      box-shadow: 0 3px 0 #e88300; }
    .search button:active {
      top: 6px;
      box-shadow: none; }
