button::-moz-focus-inner {
  border: 0; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  min-height: 90vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #fcd123;
  padding: 80px 20px;
  margin-bottom: 10px; }
  .search input, .search .btn {
    align-self: center;
    padding: 10px 30px;
    max-width: 80%; }
  .search h1 {
    text-transform: uppercase;
    color: #229cf9;
    text-shadow: 0 0 1px #e88300;
    font-size: 60px;
    margin: 0;
    letter-spacing: 2px; }
  .search input {
    border: 4px solid #ffae00;
    border-radius: 30px;
    margin: 10px;
    font-size: 30px; }
    .search input:focus {
      border-color: #e88300; }
    .search input::placeholder {
      color: rgba(0, 0, 0, 0.3); }

.btn {
  padding: 10px 30px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  color: #229cf9;
  cursor: pointer;
  box-shadow: 0 6px 0 #e88300;
  position: relative;
  text-decoration: none;
  outline: none;
  text-align: center;
  font-weight: bold; }
  .btn:focus {
    top: 2px;
    box-shadow: 0 4px 0 #e88300; }
  .btn:hover {
    top: 3px;
    box-shadow: 0 3px 0 #e88300; }
  .btn:active {
    top: 6px;
    box-shadow: none; }

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw; }
  .results .result:nth-child(2n) {
    background-color: #fcd123; }
  .results .result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: #ffae00;
    /*box-shadow: 0 8px 0 $medmain;*/
    min-height: 200px;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px; }
    .results .result h1, .results .result p {
      border-radius: 30px;
      background-color: white; }
    .results .result h1 {
      text-align: center;
      background-color: #fcd123;
      padding: 10px 40px;
      background-color: white;
      margin: 0 10px; }
    .results .result p {
      padding: 30px 60px;
      margin: 30px 0;
      font-size: 20px; }
    .results .result a {
      margin: 0; }

@media screen and (max-width: 720px) {
  .results .result p {
    text-align: center; } }
