$medSec: #229cf9;
$darkSec: #0276c9;
$lightMain: #ff666b;
$medMain: #ed3462;
$darkMain: #d6264f;

$borderRadLarge: 50px;
$borderRadSmall: 30px;

button::-moz-focus-inner {
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    min-height: 90vh;
    margin: 0;
}
body, body * {
    font-family: 'Open Sans', sans-serif;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: $lightMain;
    padding: 80px 20px;
    margin-bottom: 10px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    input, .btn {
        align-self: center;
        padding: 10px 30px;
        max-width: 80%;
    }
    h1 {
        align-self: center;
        text-transform: uppercase;
        color: white;
        font-size: 60px;
        font-weight: normal;
        margin: 0;
        letter-spacing: 5px;
        text-shadow: 0 0 2px $darkMain;
    }
    input {
        border: 4px solid $medMain;
        border-radius: $borderRadSmall;
        margin: 10px;
        font-size: 30px;
        &:focus {
            border-color: $darkMain;
        }
        &::placeholder {
            color: rgba(0,0,0,0.3);
        }
    }

}

.btn {
    background-color: white;
    margin: 5px;
    font: {
        size: 24px;
        weight: bold;
    }
    text: {
        transform: uppercase;
        decoration: none;
        align: center;
    }
    letter-spacing: 2px;
    border-radius: $borderRadSmall;
    border: none;
    color: $medSec;
    cursor: pointer;
    box-shadow: 0 6px 0 $darkMain;
    position: relative;
    outline: none;

    &:focus {
        top: 2px;
        box-shadow: 0 4px 0 $darkMain;
    }
    &:hover {
        top: 3px;
        box-shadow: 0 3px 0 $darkMain;
    }

    &:active {
        top: 6px;
        box-shadow: none;
    }
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
    .result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: black;
        outline: none;
        background-color: $lightMain;
        min-height: 200px;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: $borderRadLarge;
        
    &:hover, &:focus {
        background-color: $medMain;
    }
        h1, p {
            border-radius: $borderRadSmall;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            margin: 10px;
            background-color: white;
        }

        h1 {
            text-align: center;
            flex: 0 1 30%;
            padding: 10px 40px;
        }

        p {
            flex: 0 1 70%;
            padding: 30px 60px;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 720px) {
    .search {
        h1 {
            font-size: 50px;
        }
    }
    .results .result {
        flex-direction: column;
        h1 {
            align-self: center;
        }
        p {
        text-align: center;
    }
    }
}