$medSec: #229cf9;
$darkSec: #0276c9;
$lightMain: #fcd123;
$medMain: #ffae00;
$darkMain: #e88300;

$borderRadLarge: 50px;
$borderRadSmall: 30px;

button::-moz-focus-inner {
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    min-height: 90vh;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: $lightMain;
    border: 10px solid $medMain;
    border-radius: $borderRadLarge;
    padding: 20px;
    margin-bottom: 40px;

    input, .btn {
        align-self: center;
        padding: 10px 30px;
        max-width: 80%;
    }

    input {
        border: 4px solid $medMain;
        border-radius: $borderRadSmall;
        margin: 10px;
        font-size: 30px;
        &:focus {
            border-color: $darkMain;
        }
    }

}

.btn {
    padding: 10px 30px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: $borderRadSmall;
    border: none;
    font-weight: bold;
    color: $medSec;
    cursor: pointer;
    box-shadow: 0 6px 0 $darkMain;
    position: relative;
    text-decoration: none;
    outline: none;
    text-align: center;
    font-weight: bold;

    &:focus {
        top: 2px;
        box-shadow: 0 4px 0 $darkMain;
    }
    &:hover {
        top: 3px;
        box-shadow: 0 3px 0 $darkMain;
    }

    &:active {
        top: 6px;
        box-shadow: none;
    }
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .result {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        background-color: $lightMain;
        border: 8px solid $medMain;
        /*box-shadow: 0 8px 0 $medmain;*/
        margin: 10px;
        min-height: 200px;
        padding: 20px 50px;
        border-radius: $borderRadLarge;

        h1, p {
            border-radius: $borderRadSmall;
            background-color: white;
        }

        h1 {
            padding: 10px 40px;
            background-color: white;
            margin: 0;
        }

        p {
            padding: 30px 60px;
            margin: 30px 0;
            font-size: 20px;
        }

        a {
            margin: 0;
        }
    }
}
